<div class="container">
  <h1>Restaurants</h1>

    <%= link_to "create new Restaurant", restaurants_new_path(@restaurant), class:"btn btn-primary" %>

    <ul>
      <% @restaurants.each do |restaurant| %>
        <li><%=link_to restaurant.name, restaurant_path(restaurant) %></li>
      <% end %>
    </ul>
</div>
